@font-face {
  font-family: "Flaticon";
  src: url("../font/mini-icon/flaticon.eot");
  src: url("../font/mini-icon/flaticon.eot#iefix") format("embedded-opentype"), url("../font/mini-icon/flaticon.woff") format("woff"), url("../font/mini-icon/flaticon.ttf") format("truetype"), url("../font/mini-icon/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../sass/_mini-icon.scss */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: inherit;
  font-style: normal;
}

/* line 16, ../sass/_mini-icon.scss */
.flaticon-achievement:before {
  content: "\e000";
}

/* line 19, ../sass/_mini-icon.scss */
.flaticon-add-circle:before {
  content: "\e001";
}

/* line 22, ../sass/_mini-icon.scss */
.flaticon-add-circle1:before {
  content: "\e002";
}

/* line 25, ../sass/_mini-icon.scss */
.flaticon-add-folder:before {
  content: "\e003";
}

/* line 28, ../sass/_mini-icon.scss */
.flaticon-airplane:before {
  content: "\e004";
}

/* line 31, ../sass/_mini-icon.scss */
.flaticon-angle-down:before {
  content: "\e005";
}

/* line 34, ../sass/_mini-icon.scss */
.flaticon-angle-left:before {
  content: "\e006";
}

/* line 37, ../sass/_mini-icon.scss */
.flaticon-angle-right:before {
  content: "\e007";
}

/* line 40, ../sass/_mini-icon.scss */
.flaticon-angle-up:before {
  content: "\e008";
}

/* line 43, ../sass/_mini-icon.scss */
.flaticon-armchair:before {
  content: "\e009";
}

/* line 46, ../sass/_mini-icon.scss */
.flaticon-arrow-down-long:before {
  content: "\e00a";
}

/* line 49, ../sass/_mini-icon.scss */
.flaticon-arrow-right-long:before {
  content: "\e00b";
}

/* line 52, ../sass/_mini-icon.scss */
.flaticon-arrow-up-long:before {
  content: "\e00c";
}

/* line 55, ../sass/_mini-icon.scss */
.flaticon-arrrow-left-long:before {
  content: "\e00d";
}

/* line 58, ../sass/_mini-icon.scss */
.flaticon-badge:before {
  content: "\e00e";
}

/* line 61, ../sass/_mini-icon.scss */
.flaticon-bag:before {
  content: "\e00f";
}

/* line 64, ../sass/_mini-icon.scss */
.flaticon-bag1:before {
  content: "\e010";
}

/* line 67, ../sass/_mini-icon.scss */
.flaticon-bag2:before {
  content: "\e011";
}

/* line 70, ../sass/_mini-icon.scss */
.flaticon-baked:before {
  content: "\e012";
}

/* line 73, ../sass/_mini-icon.scss */
.flaticon-bed:before {
  content: "\e013";
}

/* line 76, ../sass/_mini-icon.scss */
.flaticon-bedlamp:before {
  content: "\e014";
}

/* line 79, ../sass/_mini-icon.scss */
.flaticon-bike:before {
  content: "\e015";
}

/* line 82, ../sass/_mini-icon.scss */
.flaticon-books:before {
  content: "\e016";
}

/* line 85, ../sass/_mini-icon.scss */
.flaticon-books1:before {
  content: "\e017";
}

/* line 88, ../sass/_mini-icon.scss */
.flaticon-briefcase:before {
  content: "\e018";
}

/* line 91, ../sass/_mini-icon.scss */
.flaticon-building:before {
  content: "\e019";
}

/* line 94, ../sass/_mini-icon.scss */
.flaticon-calculator:before {
  content: "\e01a";
}

/* line 97, ../sass/_mini-icon.scss */
.flaticon-calendar2:before {
  content: "\e01b";
}

/* line 100, ../sass/_mini-icon.scss */
.flaticon-calendar:before {
  content: "\e01c";
}

/* line 103, ../sass/_mini-icon.scss */
.flaticon-camera:before {
  content: "\e01d";
}

/* line 106, ../sass/_mini-icon.scss */
.flaticon-car:before {
  content: "\e01e";
}

/* line 109, ../sass/_mini-icon.scss */
.flaticon-cellphone:before {
  content: "\e01f";
}

/* line 112, ../sass/_mini-icon.scss */
.flaticon-chart:before {
  content: "\e020";
}

/* line 115, ../sass/_mini-icon.scss */
.flaticon-clock-sand:before {
  content: "\e021";
}

/* line 118, ../sass/_mini-icon.scss */
.flaticon-clock:before {
  content: "\e022";
}

/* line 121, ../sass/_mini-icon.scss */
.flaticon-clock3:before {
  content: "\e023";
}

/* line 124, ../sass/_mini-icon.scss */
.flaticon-close:before {
  content: "\e024";
}

/* line 127, ../sass/_mini-icon.scss */
.flaticon-coffee:before {
  content: "\e025";
}

/* line 130, ../sass/_mini-icon.scss */
.flaticon-coin:before {
  content: "\e026";
}

/* line 133, ../sass/_mini-icon.scss */
.flaticon-compute:before {
  content: "\e027";
}

/* line 136, ../sass/_mini-icon.scss */
.flaticon-credit1:before {
  content: "\e028";
}

/* line 139, ../sass/_mini-icon.scss */
.flaticon-crown:before {
  content: "\e029";
}

/* line 142, ../sass/_mini-icon.scss */
.flaticon-cutlery:before {
  content: "\e02a";
}

/* line 145, ../sass/_mini-icon.scss */
.flaticon-delete:before {
  content: "\e02b";
}

/* line 148, ../sass/_mini-icon.scss */
.flaticon-direction:before {
  content: "\e02c";
}

/* line 151, ../sass/_mini-icon.scss */
.flaticon-discount:before {
  content: "\e02d";
}

/* line 154, ../sass/_mini-icon.scss */
.flaticon-done:before {
  content: "\e02e";
}

/* line 157, ../sass/_mini-icon.scss */
.flaticon-dot:before {
  content: "\e02f";
}

/* line 160, ../sass/_mini-icon.scss */
.flaticon-drink:before {
  content: "\e030";
}

/* line 163, ../sass/_mini-icon.scss */
.flaticon-drink1:before {
  content: "\e031";
}

/* line 166, ../sass/_mini-icon.scss */
.flaticon-earth:before {
  content: "\e032";
}

/* line 169, ../sass/_mini-icon.scss */
.flaticon-edit:before {
  content: "\e033";
}

/* line 172, ../sass/_mini-icon.scss */
.flaticon-email:before {
  content: "\e034";
}

/* line 175, ../sass/_mini-icon.scss */
.flaticon-email1:before {
  content: "\e035";
}

/* line 178, ../sass/_mini-icon.scss */
.flaticon-eye:before {
  content: "\e036";
}

/* line 181, ../sass/_mini-icon.scss */
.flaticon-factory:before {
  content: "\e037";
}

/* line 184, ../sass/_mini-icon.scss */
.flaticon-fast-food:before {
  content: "\e038";
}

/* line 187, ../sass/_mini-icon.scss */
.flaticon-file:before {
  content: "\e039";
}

/* line 190, ../sass/_mini-icon.scss */
.flaticon-file1:before {
  content: "\e03a";
}

/* line 193, ../sass/_mini-icon.scss */
.flaticon-folder1:before {
  content: "\e03b";
}

/* line 196, ../sass/_mini-icon.scss */
.flaticon-folder:before {
  content: "\e03c";
}

/* line 199, ../sass/_mini-icon.scss */
.flaticon-fruit:before {
  content: "\e03d";
}

/* line 202, ../sass/_mini-icon.scss */
.flaticon-game:before {
  content: "\e03e";
}

/* line 205, ../sass/_mini-icon.scss */
.flaticon-gas-station:before {
  content: "\e03f";
}

/* line 208, ../sass/_mini-icon.scss */
.flaticon-gear:before {
  content: "\e040";
}

/* line 211, ../sass/_mini-icon.scss */
.flaticon-gift:before {
  content: "\e041";
}

/* line 214, ../sass/_mini-icon.scss */
.flaticon-graphic1:before {
  content: "\e042";
}

/* line 217, ../sass/_mini-icon.scss */
.flaticon-graphic2:before {
  content: "\e043";
}

/* line 220, ../sass/_mini-icon.scss */
.flaticon-graphics:before {
  content: "\e044";
}

/* line 223, ../sass/_mini-icon.scss */
.flaticon-heart:before {
  content: "\e045";
}

/* line 226, ../sass/_mini-icon.scss */
.flaticon-history:before {
  content: "\e046";
}

/* line 229, ../sass/_mini-icon.scss */
.flaticon-home:before {
  content: "\e047";
}

/* line 232, ../sass/_mini-icon.scss */
.flaticon-hospital:before {
  content: "\e048";
}

/* line 235, ../sass/_mini-icon.scss */
.flaticon-hotel:before {
  content: "\e049";
}

/* line 238, ../sass/_mini-icon.scss */
.flaticon-hotel1:before {
  content: "\e04a";
}

/* line 241, ../sass/_mini-icon.scss */
.flaticon-image:before {
  content: "\e04b";
}

/* line 244, ../sass/_mini-icon.scss */
.flaticon-image1:before {
  content: "\e04c";
}

/* line 247, ../sass/_mini-icon.scss */
.flaticon-info:before {
  content: "\e04d";
}

/* line 250, ../sass/_mini-icon.scss */
.flaticon-key:before {
  content: "\e04e";
}

/* line 253, ../sass/_mini-icon.scss */
.flaticon-lab:before {
  content: "\e04f";
}

/* line 256, ../sass/_mini-icon.scss */
.flaticon-lab1:before {
  content: "\e050";
}

/* line 259, ../sass/_mini-icon.scss */
.flaticon-lab2:before {
  content: "\e051";
}

/* line 262, ../sass/_mini-icon.scss */
.flaticon-lamp:before {
  content: "\e052";
}

/* line 265, ../sass/_mini-icon.scss */
.flaticon-left-arrow:before {
  content: "\e053";
}

/* line 268, ../sass/_mini-icon.scss */
.flaticon-link:before {
  content: "\e054";
}

/* line 271, ../sass/_mini-icon.scss */
.flaticon-list:before {
  content: "\e055";
}

/* line 274, ../sass/_mini-icon.scss */
.flaticon-location:before {
  content: "\e056";
}

/* line 277, ../sass/_mini-icon.scss */
.flaticon-location1:before {
  content: "\e057";
}

/* line 280, ../sass/_mini-icon.scss */
.flaticon-luggage:before {
  content: "\e058";
}

/* line 283, ../sass/_mini-icon.scss */
.flaticon-map:before {
  content: "\e059";
}

/* line 286, ../sass/_mini-icon.scss */
.flaticon-map1:before {
  content: "\e05a";
}

/* line 289, ../sass/_mini-icon.scss */
.flaticon-math:before {
  content: "\e05b";
}

/* line 292, ../sass/_mini-icon.scss */
.flaticon-medal:before {
  content: "\e05c";
}

/* line 295, ../sass/_mini-icon.scss */
.flaticon-melody:before {
  content: "\e05d";
}

/* line 298, ../sass/_mini-icon.scss */
.flaticon-menu-mobile:before {
  content: "\e05e";
}

/* line 301, ../sass/_mini-icon.scss */
.flaticon-microscope:before {
  content: "\e05f";
}

/* line 304, ../sass/_mini-icon.scss */
.flaticon-money-bag:before {
  content: "\e060";
}

/* line 307, ../sass/_mini-icon.scss */
.flaticon-credit:before {
  content: "\e061";
}

/* line 310, ../sass/_mini-icon.scss */
.flaticon-monitor:before {
  content: "\e062";
}

/* line 313, ../sass/_mini-icon.scss */
.flaticon-movie:before {
  content: "\e063";
}

/* line 316, ../sass/_mini-icon.scss */
.flaticon-right-arrow:before {
  content: "\e064";
}

/* line 319, ../sass/_mini-icon.scss */
.flaticon-origami:before {
  content: "\e065";
}

/* line 322, ../sass/_mini-icon.scss */
.flaticon-pie:before {
  content: "\e066";
}

/* line 325, ../sass/_mini-icon.scss */
.flaticon-play-button:before {
  content: "\e067";
}

/* line 328, ../sass/_mini-icon.scss */
.flaticon-power:before {
  content: "\e068";
}

/* line 331, ../sass/_mini-icon.scss */
.flaticon-printer:before {
  content: "\e069";
}

/* line 334, ../sass/_mini-icon.scss */
.flaticon-projector:before {
  content: "\e06a";
}

/* line 337, ../sass/_mini-icon.scss */
.flaticon-question:before {
  content: "\e06b";
}

/* line 340, ../sass/_mini-icon.scss */
.flaticon-restaurant:before {
  content: "\e06c";
}

/* line 343, ../sass/_mini-icon.scss */
.flaticon-search:before {
  content: "\e06d";
}

/* line 346, ../sass/_mini-icon.scss */
.flaticon-setting:before {
  content: "\e06e";
}

/* line 349, ../sass/_mini-icon.scss */
.flaticon-shopping-cart:before {
  content: "\e06f";
}

/* line 352, ../sass/_mini-icon.scss */
.flaticon-shower:before {
  content: "\e070";
}

/* line 355, ../sass/_mini-icon.scss */
.flaticon-shower1:before {
  content: "\e071";
}

/* line 358, ../sass/_mini-icon.scss */
.flaticon-bed-single:before {
  content: "\e072";
}

/* line 361, ../sass/_mini-icon.scss */
.flaticon-speech1:before {
  content: "\e073";
}

/* line 364, ../sass/_mini-icon.scss */
.flaticon-chat2:before {
  content: "\e074";
}

/* line 367, ../sass/_mini-icon.scss */
.flaticon-speech:before {
  content: "\e075";
}

/* line 370, ../sass/_mini-icon.scss */
.flaticon-speedometer6:before {
  content: "\e076";
}

/* line 373, ../sass/_mini-icon.scss */
.flaticon-star:before {
  content: "\e077";
}

/* line 376, ../sass/_mini-icon.scss */
.flaticon-stock:before {
  content: "\e078";
}

/* line 379, ../sass/_mini-icon.scss */
.flaticon-store:before {
  content: "\e079";
}

/* line 382, ../sass/_mini-icon.scss */
.flaticon-subway:before {
  content: "\e07a";
}

/* line 385, ../sass/_mini-icon.scss */
.flaticon-tag:before {
  content: "\e07b";
}

/* line 388, ../sass/_mini-icon.scss */
.flaticon-tag1:before {
  content: "\e07c";
}

/* line 391, ../sass/_mini-icon.scss */
.flaticon-targets:before {
  content: "\e07d";
}

/* line 394, ../sass/_mini-icon.scss */
.flaticon-telephone:before {
  content: "\e07e";
}

/* line 397, ../sass/_mini-icon.scss */
.flaticon-up-arrow:before {
  content: "\e07f";
}

/* line 400, ../sass/_mini-icon.scss */
.flaticon-down-arrow:before {
  content: "\e080";
}

/* line 403, ../sass/_mini-icon.scss */
.flaticon-user:before {
  content: "\e081";
}

/* line 406, ../sass/_mini-icon.scss */
.flaticon-video:before {
  content: "\e082";
}

/* line 409, ../sass/_mini-icon.scss */
.flaticon-website:before {
  content: "\e083";
}

/* line 412, ../sass/_mini-icon.scss */
.flaticon-wifi:before {
  content: "\e084";
}

@font-face {
  font-family: "Flaticon-Line";
  src: url("../font/line-icons/line-icon.eot");
  src: url("../font/line-icons/line-icon.eot#iefix") format("embedded-opentype"), url("../font/line-icons/line-icon.woff") format("woff"), url("../font/line-icons/line-icon.ttf") format("truetype"), url("../font/line-icons/line-icon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../sass/_line-icon.scss */
[class^="flaticon-ln-"]:before, [class*=" flaticon-ln-"]:before,
[class^="flaticon-ln-"]:after, [class*=" flaticon-ln-"]:after {
  font-family: Flaticon-Line;
  font-size: inherit;
  font-style: normal;
}

/* line 16, ../sass/_line-icon.scss */
.flaticon-ln-plus:before {
  content: "\e000";
}

/* line 19, ../sass/_line-icon.scss */
.flaticon-ln-arrow-two-ways:before {
  content: "\e001";
}

/* line 22, ../sass/_line-icon.scss */
.flaticon-ln-graphic-up:before {
  content: "\e002";
}

/* line 25, ../sass/_line-icon.scss */
.flaticon-ln-female:before {
  content: "\e003";
}

/* line 28, ../sass/_line-icon.scss */
.flaticon-ln-paper:before {
  content: "\e004";
}

/* line 31, ../sass/_line-icon.scss */
.flaticon-ln-chart-file:before {
  content: "\e005";
}

/* line 34, ../sass/_line-icon.scss */
.flaticon-ln-2424:before {
  content: "\e006";
}

/* line 37, ../sass/_line-icon.scss */
.flaticon-ln-add-circle:before {
  content: "\e007";
}

/* line 40, ../sass/_line-icon.scss */
.flaticon-ln-address:before {
  content: "\e008";
}

/* line 43, ../sass/_line-icon.scss */
.flaticon-ln-aeroplane:before {
  content: "\e009";
}

/* line 46, ../sass/_line-icon.scss */
.flaticon-ln-alarm:before {
  content: "\e00a";
}

/* line 49, ../sass/_line-icon.scss */
.flaticon-ln-angle-down:before {
  content: "\e00b";
}

/* line 52, ../sass/_line-icon.scss */
.flaticon-ln-angle-left:before {
  content: "\e00c";
}

/* line 55, ../sass/_line-icon.scss */
.flaticon-ln-angle-right:before {
  content: "\e00d";
}

/* line 58, ../sass/_line-icon.scss */
.flaticon-ln-angle-up:before {
  content: "\e00e";
}

/* line 61, ../sass/_line-icon.scss */
.flaticon-ln-arrow-back-down-left:before {
  content: "\e00f";
}

/* line 64, ../sass/_line-icon.scss */
.flaticon-ln-arrow-back-down-right:before {
  content: "\e010";
}

/* line 67, ../sass/_line-icon.scss */
.flaticon-ln-arrow-back-left-bottom:before {
  content: "\e011";
}

/* line 70, ../sass/_line-icon.scss */
.flaticon-ln-arrow-back-left-up:before {
  content: "\e012";
}

/* line 73, ../sass/_line-icon.scss */
.flaticon-ln-arrow-back-right-up:before {
  content: "\e013";
}

/* line 76, ../sass/_line-icon.scss */
.flaticon-ln-arrow-back-up:before {
  content: "\e014";
}

/* line 79, ../sass/_line-icon.scss */
.flaticon-ln-arrow-circle-down:before {
  content: "\e015";
}

/* line 82, ../sass/_line-icon.scss */
.flaticon-ln-arrow-circle-left:before {
  content: "\e016";
}

/* line 85, ../sass/_line-icon.scss */
.flaticon-ln-arrow-circle-right:before {
  content: "\e017";
}

/* line 88, ../sass/_line-icon.scss */
.flaticon-ln-arrow-circle-up:before {
  content: "\e018";
}

/* line 91, ../sass/_line-icon.scss */
.flaticon-ln-arrow-circle:before {
  content: "\e019";
}

/* line 94, ../sass/_line-icon.scss */
.flaticon-ln-arrow-corner:before {
  content: "\e01a";
}

/* line 97, ../sass/_line-icon.scss */
.flaticon-ln-arrow-down:before {
  content: "\e01b";
}

/* line 100, ../sass/_line-icon.scss */
.flaticon-ln-arrow-drag:before {
  content: "\e01c";
}

/* line 103, ../sass/_line-icon.scss */
.flaticon-ln-arrow-in-bottom:before {
  content: "\e01d";
}

/* line 106, ../sass/_line-icon.scss */
.flaticon-ln-arrow-in-left:before {
  content: "\e01e";
}

/* line 109, ../sass/_line-icon.scss */
.flaticon-ln-arrow-in-right:before {
  content: "\e01f";
}

/* line 112, ../sass/_line-icon.scss */
.flaticon-ln-arrow-in-up:before {
  content: "\e020";
}

/* line 115, ../sass/_line-icon.scss */
.flaticon-ln-arrow-left:before {
  content: "\e021";
}

/* line 118, ../sass/_line-icon.scss */
.flaticon-ln-arrow-resize:before {
  content: "\e022";
}

/* line 121, ../sass/_line-icon.scss */
.flaticon-ln-arrow-right-left:before {
  content: "\e023";
}

/* line 124, ../sass/_line-icon.scss */
.flaticon-ln-arrow-right:before {
  content: "\e024";
}

/* line 127, ../sass/_line-icon.scss */
.flaticon-ln-arrow-up-down:before {
  content: "\e025";
}

/* line 130, ../sass/_line-icon.scss */
.flaticon-ln-arrowback-right-bottom:before {
  content: "\e026";
}

/* line 133, ../sass/_line-icon.scss */
.flaticon-ln-atm:before {
  content: "\e027";
}

/* line 136, ../sass/_line-icon.scss */
.flaticon-ln-attachment:before {
  content: "\e028";
}

/* line 139, ../sass/_line-icon.scss */
.flaticon-ln-backward:before {
  content: "\e029";
}

/* line 142, ../sass/_line-icon.scss */
.flaticon-ln-bars:before {
  content: "\e02a";
}

/* line 145, ../sass/_line-icon.scss */
.flaticon-ln-basket:before {
  content: "\e02b";
}

/* line 148, ../sass/_line-icon.scss */
.flaticon-ln-bell:before {
  content: "\e02c";
}

/* line 151, ../sass/_line-icon.scss */
.flaticon-ln-bluetooth:before {
  content: "\e02d";
}

/* line 154, ../sass/_line-icon.scss */
.flaticon-ln-book:before {
  content: "\e02e";
}

/* line 157, ../sass/_line-icon.scss */
.flaticon-ln-box:before {
  content: "\e02f";
}

/* line 160, ../sass/_line-icon.scss */
.flaticon-ln-brush:before {
  content: "\e030";
}

/* line 163, ../sass/_line-icon.scss */
.flaticon-ln-building:before {
  content: "\e031";
}

/* line 166, ../sass/_line-icon.scss */
.flaticon-ln-bulb:before {
  content: "\e032";
}

/* line 169, ../sass/_line-icon.scss */
.flaticon-ln-bullet:before {
  content: "\e033";
}

/* line 172, ../sass/_line-icon.scss */
.flaticon-ln-businessman:before {
  content: "\e034";
}

/* line 175, ../sass/_line-icon.scss */
.flaticon-ln-buy:before {
  content: "\e035";
}

/* line 178, ../sass/_line-icon.scss */
.flaticon-ln-calendar:before {
  content: "\e036";
}

/* line 181, ../sass/_line-icon.scss */
.flaticon-ln-call-vibration:before {
  content: "\e037";
}

/* line 184, ../sass/_line-icon.scss */
.flaticon-ln-call:before {
  content: "\e038";
}

/* line 187, ../sass/_line-icon.scss */
.flaticon-ln-camera:before {
  content: "\e039";
}

/* line 190, ../sass/_line-icon.scss */
.flaticon-ln-cart:before {
  content: "\e03a";
}

/* line 193, ../sass/_line-icon.scss */
.flaticon-ln-chat:before {
  content: "\e03b";
}

/* line 196, ../sass/_line-icon.scss */
.flaticon-ln-check-circle:before {
  content: "\e03c";
}

/* line 199, ../sass/_line-icon.scss */
.flaticon-ln-check-square:before {
  content: "\e03d";
}

/* line 202, ../sass/_line-icon.scss */
.flaticon-ln-clapper:before {
  content: "\e03e";
}

/* line 205, ../sass/_line-icon.scss */
.flaticon-ln-close-circle:before {
  content: "\e03f";
}

/* line 208, ../sass/_line-icon.scss */
.flaticon-ln-close-square:before {
  content: "\e040";
}

/* line 211, ../sass/_line-icon.scss */
.flaticon-ln-close:before {
  content: "\e041";
}

/* line 214, ../sass/_line-icon.scss */
.flaticon-ln-cloud-down:before {
  content: "\e042";
}

/* line 217, ../sass/_line-icon.scss */
.flaticon-ln-cloud-plus:before {
  content: "\e043";
}

/* line 220, ../sass/_line-icon.scss */
.flaticon-ln-cloud-up:before {
  content: "\e044";
}

/* line 223, ../sass/_line-icon.scss */
.flaticon-ln-cloud:before {
  content: "\e045";
}

/* line 226, ../sass/_line-icon.scss */
.flaticon-ln-code:before {
  content: "\e046";
}

/* line 229, ../sass/_line-icon.scss */
.flaticon-ln-converge:before {
  content: "\e047";
}

/* line 232, ../sass/_line-icon.scss */
.flaticon-ln-correct:before {
  content: "\e048";
}

/* line 235, ../sass/_line-icon.scss */
.flaticon-ln-credit-hand:before {
  content: "\e049";
}

/* line 238, ../sass/_line-icon.scss */
.flaticon-ln-crop:before {
  content: "\e04a";
}

/* line 241, ../sass/_line-icon.scss */
.flaticon-ln-data-bar:before {
  content: "\e04b";
}

/* line 244, ../sass/_line-icon.scss */
.flaticon-ln-data-line:before {
  content: "\e04c";
}

/* line 247, ../sass/_line-icon.scss */
.flaticon-ln-disk-check:before {
  content: "\e04d";
}

/* line 250, ../sass/_line-icon.scss */
.flaticon-ln-document:before {
  content: "\e04e";
}

/* line 253, ../sass/_line-icon.scss */
.flaticon-ln-dollar-coin:before {
  content: "\e04f";
}

/* line 256, ../sass/_line-icon.scss */
.flaticon-ln-dollar:before {
  content: "\e050";
}

/* line 259, ../sass/_line-icon.scss */
.flaticon-ln-equalizer:before {
  content: "\e051";
}

/* line 262, ../sass/_line-icon.scss */
.flaticon-ln-eye:before {
  content: "\e052";
}

/* line 265, ../sass/_line-icon.scss */
.flaticon-ln-file-cloud:before {
  content: "\e053";
}

/* line 268, ../sass/_line-icon.scss */
.flaticon-ln-film:before {
  content: "\e054";
}

/* line 271, ../sass/_line-icon.scss */
.flaticon-ln-flag:before {
  content: "\e055";
}

/* line 274, ../sass/_line-icon.scss */
.flaticon-ln-floppy:before {
  content: "\e056";
}

/* line 277, ../sass/_line-icon.scss */
.flaticon-ln-folder:before {
  content: "\e057";
}

/* line 280, ../sass/_line-icon.scss */
.flaticon-ln-forward:before {
  content: "\e058";
}

/* line 283, ../sass/_line-icon.scss */
.flaticon-ln-gift:before {
  content: "\e059";
}

/* line 286, ../sass/_line-icon.scss */
.flaticon-ln-globe:before {
  content: "\e05a";
}

/* line 289, ../sass/_line-icon.scss */
.flaticon-ln-graph-woman:before {
  content: "\e05b";
}

/* line 292, ../sass/_line-icon.scss */
.flaticon-ln-graph:before {
  content: "\e05c";
}

/* line 295, ../sass/_line-icon.scss */
.flaticon-ln-headset:before {
  content: "\e05d";
}

/* line 298, ../sass/_line-icon.scss */
.flaticon-ln-heart:before {
  content: "\e05e";
}

/* line 301, ../sass/_line-icon.scss */
.flaticon-ln-help:before {
  content: "\e05f";
}

/* line 304, ../sass/_line-icon.scss */
.flaticon-ln-hierarchy:before {
  content: "\e060";
}

/* line 307, ../sass/_line-icon.scss */
.flaticon-ln-home:before {
  content: "\e061";
}

/* line 310, ../sass/_line-icon.scss */
.flaticon-ln-idcard:before {
  content: "\e062";
}

/* line 313, ../sass/_line-icon.scss */
.flaticon-ln-incoming:before {
  content: "\e063";
}

/* line 316, ../sass/_line-icon.scss */
.flaticon-ln-information:before {
  content: "\e064";
}

/* line 319, ../sass/_line-icon.scss */
.flaticon-ln-internet:before {
  content: "\e065";
}

/* line 322, ../sass/_line-icon.scss */
.flaticon-ln-joystick:before {
  content: "\e066";
}

/* line 325, ../sass/_line-icon.scss */
.flaticon-ln-jpg:before {
  content: "\e067";
}

/* line 328, ../sass/_line-icon.scss */
.flaticon-ln-keyboard:before {
  content: "\e068";
}

/* line 331, ../sass/_line-icon.scss */
.flaticon-ln-layers:before {
  content: "\e069";
}

/* line 334, ../sass/_line-icon.scss */
.flaticon-ln-likes:before {
  content: "\e06a";
}

/* line 337, ../sass/_line-icon.scss */
.flaticon-ln-list:before {
  content: "\e06b";
}

/* line 340, ../sass/_line-icon.scss */
.flaticon-ln-locator:before {
  content: "\e06c";
}

/* line 343, ../sass/_line-icon.scss */
.flaticon-ln-mail:before {
  content: "\e06d";
}

/* line 346, ../sass/_line-icon.scss */
.flaticon-ln-mailbox:before {
  content: "\e06e";
}

/* line 349, ../sass/_line-icon.scss */
.flaticon-ln-male-group:before {
  content: "\e06f";
}

/* line 352, ../sass/_line-icon.scss */
.flaticon-ln-male-network:before {
  content: "\e070";
}

/* line 355, ../sass/_line-icon.scss */
.flaticon-ln-menu-dots:before {
  content: "\e071";
}

/* line 358, ../sass/_line-icon.scss */
.flaticon-ln-mic:before {
  content: "\e072";
}

/* line 361, ../sass/_line-icon.scss */
.flaticon-ln-minus-circle:before {
  content: "\e073";
}

/* line 364, ../sass/_line-icon.scss */
.flaticon-ln-mobile-tower:before {
  content: "\e074";
}

/* line 367, ../sass/_line-icon.scss */
.flaticon-ln-monitor:before {
  content: "\e075";
}

/* line 370, ../sass/_line-icon.scss */
.flaticon-ln-mouse:before {
  content: "\e076";
}

/* line 373, ../sass/_line-icon.scss */
.flaticon-ln-mute:before {
  content: "\e077";
}

/* line 376, ../sass/_line-icon.scss */
.flaticon-ln-network:before {
  content: "\e078";
}

/* line 379, ../sass/_line-icon.scss */
.flaticon-ln-note2:before {
  content: "\e079";
}

/* line 382, ../sass/_line-icon.scss */
.flaticon-ln-open-box-paper:before {
  content: "\e07a";
}

/* line 385, ../sass/_line-icon.scss */
.flaticon-ln-open-box:before {
  content: "\e07b";
}

/* line 388, ../sass/_line-icon.scss */
.flaticon-ln-paper-plane:before {
  content: "\e07c";
}

/* line 391, ../sass/_line-icon.scss */
.flaticon-ln-paper1:before {
  content: "\e07d";
}

/* line 394, ../sass/_line-icon.scss */
.flaticon-ln-papers:before {
  content: "\e07e";
}

/* line 397, ../sass/_line-icon.scss */
.flaticon-ln-pdf:before {
  content: "\e07f";
}

/* line 400, ../sass/_line-icon.scss */
.flaticon-ln-phone-mail:before {
  content: "\e080";
}

/* line 403, ../sass/_line-icon.scss */
.flaticon-ln-phone-wifi:before {
  content: "\e081";
}

/* line 406, ../sass/_line-icon.scss */
.flaticon-ln-play-circle:before {
  content: "\e082";
}

/* line 409, ../sass/_line-icon.scss */
.flaticon-ln-play-next:before {
  content: "\e083";
}

/* line 412, ../sass/_line-icon.scss */
.flaticon-ln-play-previous:before {
  content: "\e084";
}

/* line 415, ../sass/_line-icon.scss */
.flaticon-ln-play-video:before {
  content: "\e085";
}

/* line 418, ../sass/_line-icon.scss */
.flaticon-ln-play:before {
  content: "\e086";
}

/* line 421, ../sass/_line-icon.scss */
.flaticon-ln-plus-square:before {
  content: "\e087";
}

/* line 424, ../sass/_line-icon.scss */
.flaticon-ln-portfolio:before {
  content: "\e088";
}

/* line 427, ../sass/_line-icon.scss */
.flaticon-ln-ppt:before {
  content: "\e089";
}

/* line 430, ../sass/_line-icon.scss */
.flaticon-ln-printer:before {
  content: "\e08a";
}

/* line 433, ../sass/_line-icon.scss */
.flaticon-ln-rar:before {
  content: "\e08b";
}

/* line 436, ../sass/_line-icon.scss */
.flaticon-ln-refresh-circle:before {
  content: "\e08c";
}

/* line 439, ../sass/_line-icon.scss */
.flaticon-ln-refresh-square:before {
  content: "\e08d";
}

/* line 442, ../sass/_line-icon.scss */
.flaticon-ln-round-clock:before {
  content: "\e08e";
}

/* line 445, ../sass/_line-icon.scss */
.flaticon-ln-router:before {
  content: "\e08f";
}

/* line 448, ../sass/_line-icon.scss */
.flaticon-ln-router2:before {
  content: "\e090";
}

/* line 451, ../sass/_line-icon.scss */
.flaticon-ln-ruler:before {
  content: "\e091";
}

/* line 454, ../sass/_line-icon.scss */
.flaticon-ln-scale:before {
  content: "\e092";
}

/* line 457, ../sass/_line-icon.scss */
.flaticon-ln-search-circle:before {
  content: "\e093";
}

/* line 460, ../sass/_line-icon.scss */
.flaticon-ln-search:before {
  content: "\e094";
}

/* line 463, ../sass/_line-icon.scss */
.flaticon-ln-settings:before {
  content: "\e095";
}

/* line 466, ../sass/_line-icon.scss */
.flaticon-ln-share:before {
  content: "\e096";
}

/* line 469, ../sass/_line-icon.scss */
.flaticon-ln-share2:before {
  content: "\e097";
}

/* line 472, ../sass/_line-icon.scss */
.flaticon-ln-shopping-bag:before {
  content: "\e098";
}

/* line 475, ../sass/_line-icon.scss */
.flaticon-ln-shutdown:before {
  content: "\e099";
}

/* line 478, ../sass/_line-icon.scss */
.flaticon-ln-smartphone:before {
  content: "\e09a";
}

/* line 481, ../sass/_line-icon.scss */
.flaticon-ln-spanner:before {
  content: "\e09b";
}

/* line 484, ../sass/_line-icon.scss */
.flaticon-ln-speech-square:before {
  content: "\e09c";
}

/* line 487, ../sass/_line-icon.scss */
.flaticon-ln-speech:before {
  content: "\e09d";
}

/* line 490, ../sass/_line-icon.scss */
.flaticon-ln-speedometer:before {
  content: "\e09e";
}

/* line 493, ../sass/_line-icon.scss */
.flaticon-ln-star:before {
  content: "\e09f";
}

/* line 496, ../sass/_line-icon.scss */
.flaticon-ln-store:before {
  content: "\e0a0";
}

/* line 499, ../sass/_line-icon.scss */
.flaticon-ln-support:before {
  content: "\e0a1";
}

/* line 502, ../sass/_line-icon.scss */
.flaticon-ln-sync:before {
  content: "\e0a2";
}

/* line 505, ../sass/_line-icon.scss */
.flaticon-ln-target:before {
  content: "\e0a3";
}

/* line 508, ../sass/_line-icon.scss */
.flaticon-ln-thumbs:before {
  content: "\e0a4";
}

/* line 511, ../sass/_line-icon.scss */
.flaticon-ln-timer:before {
  content: "\e0a5";
}

/* line 514, ../sass/_line-icon.scss */
.flaticon-ln-trash:before {
  content: "\e0a6";
}

/* line 517, ../sass/_line-icon.scss */
.flaticon-ln-trash2:before {
  content: "\e0a7";
}

/* line 520, ../sass/_line-icon.scss */
.flaticon-ln-umbrella:before {
  content: "\e0a8";
}

/* line 523, ../sass/_line-icon.scss */
.flaticon-ln-unlock:before {
  content: "\e0a9";
}

/* line 526, ../sass/_line-icon.scss */
.flaticon-ln-user-female:before {
  content: "\e0aa";
}

/* line 529, ../sass/_line-icon.scss */
.flaticon-ln-user:before {
  content: "\e0ab";
}

/* line 532, ../sass/_line-icon.scss */
.flaticon-ln-users-group:before {
  content: "\e0ac";
}

/* line 535, ../sass/_line-icon.scss */
.flaticon-ln-vertical-bookmark:before {
  content: "\e0ad";
}

/* line 538, ../sass/_line-icon.scss */
.flaticon-ln-video-cam:before {
  content: "\e0ae";
}

/* line 541, ../sass/_line-icon.scss */
.flaticon-ln-volume:before {
  content: "\e0af";
}

/* line 544, ../sass/_line-icon.scss */
.flaticon-ln-warning:before {
  content: "\e0b0";
}

/* line 547, ../sass/_line-icon.scss */
.flaticon-ln-webcam:before {
  content: "\e0b1";
}

/* line 550, ../sass/_line-icon.scss */
.flaticon-ln-wifi-logo-clean:before {
  content: "\e0b2";
}

/* line 553, ../sass/_line-icon.scss */
.flaticon-ln-wifi-logo:before {
  content: "\e0b3";
}

/* line 556, ../sass/_line-icon.scss */
.flaticon-ln-wireless-connect:before {
  content: "\e0b4";
}

/* line 559, ../sass/_line-icon.scss */
.flaticon-ln-wireless:before {
  content: "\e0b5";
}

/* line 562, ../sass/_line-icon.scss */
.flaticon-ln-xls:before {
  content: "\e0b6";
}

/* line 565, ../sass/_line-icon.scss */
.flaticon-ln-zip:before {
  content: "\e0b7";
}

/* line 568, ../sass/_line-icon.scss */
.flaticon-ln-male:before {
  content: "\e0b8";
}

/* line 571, ../sass/_line-icon.scss */
.flaticon-ln-locator-map:before {
  content: "\e0b9";
}

/* line 574, ../sass/_line-icon.scss */
.flaticon-ln-file-board:before {
  content: "\e0ba";
}

/* line 577, ../sass/_line-icon.scss */
.flaticon-ln-outcoming:before {
  content: "\e0bb";
}

/* line 580, ../sass/_line-icon.scss */
.flaticon-ln-pause:before {
  content: "\e0bc";
}

/* line 583, ../sass/_line-icon.scss */
.flaticon-ln-pencil:before {
  content: "\e0bd";
}

/* line 586, ../sass/_line-icon.scss */
.flaticon-ln-picture:before {
  content: "\e0be";
}

/* line 589, ../sass/_line-icon.scss */
.flaticon-ln-locator-small:before {
  content: "\e0bf";
}

/* line 592, ../sass/_line-icon.scss */
.flaticon-ln-pin:before {
  content: "\e0c0";
}

/* line 595, ../sass/_line-icon.scss */
.flaticon-ln-roller:before {
  content: "\e0c1";
}

/* line 598, ../sass/_line-icon.scss */
.flaticon-ln-arrow-up:before {
  content: "\e0c2";
}

/* line 601, ../sass/_line-icon.scss */
.flaticon-ln-weighing:before {
  content: "\e0c3";
}

/* line 604, ../sass/_line-icon.scss */
.flaticon-ln-add-window:before {
  content: "\e0c4";
}

/* line 607, ../sass/_line-icon.scss */
.flaticon-ln-note:before {
  content: "\e0c5";
}

@font-face {
  font-family: "Flaticon-Sm";
  src: url("../font/social-media/sm-icon.eot");
  src: url("../font/social-media/sm-icon.eot#iefix") format("embedded-opentype"), url("../font/social-media/sm-icon.woff") format("woff"), url("../font/social-media/sm-icon.ttf") format("truetype"), url("../font/social-media/sm-icon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../sass/_social-media.scss */
[class^="flaticon-sm-"]:before, [class*=" flaticon-sm-"]:before,
[class^="flaticon-sm-"]:after, [class*=" flaticon-sm-"]:after {
  font-family: Flaticon-Sm;
  font-size: inherit;
  font-style: normal;
}

/* line 16, ../sass/_social-media.scss */
.flaticon-sm-3gp:before {
  content: "\e000";
}

/* line 19, ../sass/_social-media.scss */
.flaticon-sm-acrobat:before {
  content: "\e001";
}

/* line 22, ../sass/_social-media.scss */
.flaticon-sm-adobe-br:before {
  content: "\e002";
}

/* line 25, ../sass/_social-media.scss */
.flaticon-sm-ai:before {
  content: "\e003";
}

/* line 28, ../sass/_social-media.scss */
.flaticon-sm-android:before {
  content: "\e004";
}

/* line 31, ../sass/_social-media.scss */
.flaticon-sm-apple:before {
  content: "\e005";
}

/* line 34, ../sass/_social-media.scss */
.flaticon-sm-avi:before {
  content: "\e006";
}

/* line 37, ../sass/_social-media.scss */
.flaticon-sm-circle-blogger:before {
  content: "\e007";
}

/* line 40, ../sass/_social-media.scss */
.flaticon-sm-blueetooth:before {
  content: "\e008";
}

/* line 43, ../sass/_social-media.scss */
.flaticon-sm-circle-skype:before {
  content: "\e009";
}

/* line 46, ../sass/_social-media.scss */
.flaticon-sm-circle-gd:before {
  content: "\e00a";
}

/* line 49, ../sass/_social-media.scss */
.flaticon-sm-circle-gplus:before {
  content: "\e00b";
}

/* line 52, ../sass/_social-media.scss */
.flaticon-sm-circle-pin:before {
  content: "\e00c";
}

/* line 55, ../sass/_social-media.scss */
.flaticon-sm-circle-rss:before {
  content: "\e00d";
}

/* line 58, ../sass/_social-media.scss */
.flaticon-sm-circle-tumblr:before {
  content: "\e00e";
}

/* line 61, ../sass/_social-media.scss */
.flaticon-sm-circle-tw:before {
  content: "\e00f";
}

/* line 64, ../sass/_social-media.scss */
.flaticon-sm-circle-vimeo:before {
  content: "\e010";
}

/* line 67, ../sass/_social-media.scss */
.flaticon-sm-circle-youtube:before {
  content: "\e011";
}

/* line 70, ../sass/_social-media.scss */
.flaticon-sm-css:before {
  content: "\e012";
}

/* line 73, ../sass/_social-media.scss */
.flaticon-sm-csv:before {
  content: "\e013";
}

/* line 76, ../sass/_social-media.scss */
.flaticon-sm-square-da:before {
  content: "\e014";
}

/* line 79, ../sass/_social-media.scss */
.flaticon-sm-doc:before {
  content: "\e015";
}

/* line 82, ../sass/_social-media.scss */
.flaticon-sm-docx:before {
  content: "\e016";
}

/* line 85, ../sass/_social-media.scss */
.flaticon-sm-dropbox:before {
  content: "\e017";
}

/* line 88, ../sass/_social-media.scss */
.flaticon-sm-eps:before {
  content: "\e018";
}

/* line 91, ../sass/_social-media.scss */
.flaticon-sm-exe:before {
  content: "\e019";
}

/* line 94, ../sass/_social-media.scss */
.flaticon-sm-circle-fb:before {
  content: "\e01a";
}

/* line 97, ../sass/_social-media.scss */
.flaticon-sm-fb:before {
  content: "\e01b";
}

/* line 100, ../sass/_social-media.scss */
.flaticon-sm-adobe-fl:before {
  content: "\e01c";
}

/* line 103, ../sass/_social-media.scss */
.flaticon-sm-gif:before {
  content: "\e01d";
}

/* line 106, ../sass/_social-media.scss */
.flaticon-sm-square-gplus:before {
  content: "\e01e";
}

/* line 109, ../sass/_social-media.scss */
.flaticon-sm-gplus:before {
  content: "\e01f";
}

/* line 112, ../sass/_social-media.scss */
.flaticon-sm-adobe-ai:before {
  content: "\e020";
}

/* line 115, ../sass/_social-media.scss */
.flaticon-sm-adobe-ai37:before {
  content: "\e021";
}

/* line 118, ../sass/_social-media.scss */
.flaticon-sm-html:before {
  content: "\e022";
}

/* line 121, ../sass/_social-media.scss */
.flaticon-sm-html5:before {
  content: "\e023";
}

/* line 124, ../sass/_social-media.scss */
.flaticon-sm-ie:before {
  content: "\e024";
}

/* line 127, ../sass/_social-media.scss */
.flaticon-sm-ig:before {
  content: "\e025";
}

/* line 130, ../sass/_social-media.scss */
.flaticon-sm-adobe-ps:before {
  content: "\e026";
}

/* line 133, ../sass/_social-media.scss */
.flaticon-sm-circle-instagram:before {
  content: "\e027";
}

/* line 136, ../sass/_social-media.scss */
.flaticon-sm-jpg:before {
  content: "\e028";
}

/* line 139, ../sass/_social-media.scss */
.flaticon-sm-li:before {
  content: "\e029";
}

/* line 142, ../sass/_social-media.scss */
.flaticon-sm-circle-in:before {
  content: "\e02a";
}

/* line 145, ../sass/_social-media.scss */
.flaticon-sm-ln-android:before {
  content: "\e02b";
}

/* line 148, ../sass/_social-media.scss */
.flaticon-sm-ln-apple:before {
  content: "\e02c";
}

/* line 151, ../sass/_social-media.scss */
.flaticon-sm-ln-behance:before {
  content: "\e02d";
}

/* line 154, ../sass/_social-media.scss */
.flaticon-sm-ln-blogger:before {
  content: "\e02e";
}

/* line 157, ../sass/_social-media.scss */
.flaticon-sm-ln-deviantart:before {
  content: "\e02f";
}

/* line 160, ../sass/_social-media.scss */
.flaticon-sm-ln-dribbble:before {
  content: "\e030";
}

/* line 163, ../sass/_social-media.scss */
.flaticon-sm-ln-facebook:before {
  content: "\e031";
}

/* line 166, ../sass/_social-media.scss */
.flaticon-sm-ln-facebook1:before {
  content: "\e032";
}

/* line 169, ../sass/_social-media.scss */
.flaticon-sm-ln-flickr:before {
  content: "\e033";
}

/* line 172, ../sass/_social-media.scss */
.flaticon-sm-ln-gdrive:before {
  content: "\e034";
}

/* line 175, ../sass/_social-media.scss */
.flaticon-sm-ln-google:before {
  content: "\e035";
}

/* line 178, ../sass/_social-media.scss */
.flaticon-sm-ln-google1:before {
  content: "\e036";
}

/* line 181, ../sass/_social-media.scss */
.flaticon-sm-ln-information:before {
  content: "\e037";
}

/* line 184, ../sass/_social-media.scss */
.flaticon-sm-ln-instagram:before {
  content: "\e038";
}

/* line 187, ../sass/_social-media.scss */
.flaticon-sm-ln-like:before {
  content: "\e039";
}

/* line 190, ../sass/_social-media.scss */
.flaticon-sm-ln-linkedin:before {
  content: "\e03a";
}

/* line 193, ../sass/_social-media.scss */
.flaticon-sm-ln-paypal:before {
  content: "\e03b";
}

/* line 196, ../sass/_social-media.scss */
.flaticon-sm-ln-picassa:before {
  content: "\e03c";
}

/* line 199, ../sass/_social-media.scss */
.flaticon-sm-ln-pinterest:before {
  content: "\e03d";
}

/* line 202, ../sass/_social-media.scss */
.flaticon-sm-ln-pinterest1:before {
  content: "\e03e";
}

/* line 205, ../sass/_social-media.scss */
.flaticon-sm-ln-questions:before {
  content: "\e03f";
}

/* line 208, ../sass/_social-media.scss */
.flaticon-sm-ln-share:before {
  content: "\e040";
}

/* line 211, ../sass/_social-media.scss */
.flaticon-sm-ln-skype:before {
  content: "\e041";
}

/* line 214, ../sass/_social-media.scss */
.flaticon-sm-ln-soundcloud:before {
  content: "\e042";
}

/* line 217, ../sass/_social-media.scss */
.flaticon-sm-ln-tumblr:before {
  content: "\e043";
}

/* line 220, ../sass/_social-media.scss */
.flaticon-sm-ln-twitter:before {
  content: "\e044";
}

/* line 223, ../sass/_social-media.scss */
.flaticon-sm-ln-twitter1:before {
  content: "\e045";
}

/* line 226, ../sass/_social-media.scss */
.flaticon-sm-ln-vimeo:before {
  content: "\e046";
}

/* line 229, ../sass/_social-media.scss */
.flaticon-sm-ln-windows:before {
  content: "\e047";
}

/* line 232, ../sass/_social-media.scss */
.flaticon-sm-ln-youtube:before {
  content: "\e048";
}

/* line 235, ../sass/_social-media.scss */
.flaticon-sm-adobe-id:before {
  content: "\e049";
}

/* line 238, ../sass/_social-media.scss */
.flaticon-sm-mp3:before {
  content: "\e04a";
}

/* line 241, ../sass/_social-media.scss */
.flaticon-sm-mp4:before {
  content: "\e04b";
}

/* line 244, ../sass/_social-media.scss */
.flaticon-sm-mpg:before {
  content: "\e04c";
}

/* line 247, ../sass/_social-media.scss */
.flaticon-sm-circle-da:before {
  content: "\e04d";
}

/* line 250, ../sass/_social-media.scss */
.flaticon-sm-paypal:before {
  content: "\e04e";
}

/* line 253, ../sass/_social-media.scss */
.flaticon-sm-paypal1:before {
  content: "\e04f";
}

/* line 256, ../sass/_social-media.scss */
.flaticon-sm-pdf:before {
  content: "\e050";
}

/* line 259, ../sass/_social-media.scss */
.flaticon-sm-photoshop:before {
  content: "\e051";
}

/* line 262, ../sass/_social-media.scss */
.flaticon-sm-png:before {
  content: "\e052";
}

/* line 265, ../sass/_social-media.scss */
.flaticon-sm-ppt:before {
  content: "\e053";
}

/* line 268, ../sass/_social-media.scss */
.flaticon-sm-pptx:before {
  content: "\e054";
}

/* line 271, ../sass/_social-media.scss */
.flaticon-sm-rar:before {
  content: "\e055";
}

/* line 274, ../sass/_social-media.scss */
.flaticon-sm-rtf:before {
  content: "\e056";
}

/* line 277, ../sass/_social-media.scss */
.flaticon-sm-square-share:before {
  content: "\e057";
}

/* line 280, ../sass/_social-media.scss */
.flaticon-sm-sharethis:before {
  content: "\e058";
}

/* line 283, ../sass/_social-media.scss */
.flaticon-sm-skype:before {
  content: "\e059";
}

/* line 286, ../sass/_social-media.scss */
.flaticon-sm-square-network:before {
  content: "\e05a";
}

/* line 289, ../sass/_social-media.scss */
.flaticon-sm-sql:before {
  content: "\e05b";
}

/* line 292, ../sass/_social-media.scss */
.flaticon-sm-sql1:before {
  content: "\e05c";
}

/* line 295, ../sass/_social-media.scss */
.flaticon-sm-square-blog:before {
  content: "\e05d";
}

/* line 298, ../sass/_social-media.scss */
.flaticon-sm-square-fb:before {
  content: "\e05e";
}

/* line 301, ../sass/_social-media.scss */
.flaticon-sm-square-in:before {
  content: "\e05f";
}

/* line 304, ../sass/_social-media.scss */
.flaticon-sm-square-picasa:before {
  content: "\e060";
}

/* line 307, ../sass/_social-media.scss */
.flaticon-sm-square-pin:before {
  content: "\e061";
}

/* line 310, ../sass/_social-media.scss */
.flaticon-sm-square-rss:before {
  content: "\e062";
}

/* line 313, ../sass/_social-media.scss */
.flaticon-sm-square-skype:before {
  content: "\e063";
}

/* line 316, ../sass/_social-media.scss */
.flaticon-sm-square-stumble:before {
  content: "\e064";
}

/* line 319, ../sass/_social-media.scss */
.flaticon-sm-square-tumblr:before {
  content: "\e065";
}

/* line 322, ../sass/_social-media.scss */
.flaticon-sm-square-tw:before {
  content: "\e066";
}

/* line 325, ../sass/_social-media.scss */
.flaticon-sm-square-wordpress:before {
  content: "\e067";
}

/* line 328, ../sass/_social-media.scss */
.flaticon-sm-square-gd:before {
  content: "\e068";
}

/* line 331, ../sass/_social-media.scss */
.flaticon-sm-circle-stumble:before {
  content: "\e069";
}

/* line 334, ../sass/_social-media.scss */
.flaticon-sm-svg:before {
  content: "\e06a";
}

/* line 337, ../sass/_social-media.scss */
.flaticon-sm-tiff:before {
  content: "\e06b";
}

/* line 340, ../sass/_social-media.scss */
.flaticon-sm-tw:before {
  content: "\e06c";
}

/* line 343, ../sass/_social-media.scss */
.flaticon-sm-txt:before {
  content: "\e06d";
}

/* line 346, ../sass/_social-media.scss */
.flaticon-sm-square-youtube:before {
  content: "\e06e";
}

/* line 349, ../sass/_social-media.scss */
.flaticon-sm-square-vimeo:before {
  content: "\e06f";
}

/* line 352, ../sass/_social-media.scss */
.flaticon-sm-visa:before {
  content: "\e070";
}

/* line 355, ../sass/_social-media.scss */
.flaticon-sm-wa:before {
  content: "\e071";
}

/* line 358, ../sass/_social-media.scss */
.flaticon-sm-windows8:before {
  content: "\e072";
}

/* line 361, ../sass/_social-media.scss */
.flaticon-sm-xls:before {
  content: "\e073";
}

/* line 364, ../sass/_social-media.scss */
.flaticon-sm-xlsx:before {
  content: "\e074";
}

/* line 367, ../sass/_social-media.scss */
.flaticon-sm-xml:before {
  content: "\e075";
}

/* line 370, ../sass/_social-media.scss */
.flaticon-sm-youtube:before {
  content: "\e076";
}

/* line 373, ../sass/_social-media.scss */
.flaticon-sm-youtube1:before {
  content: "\e077";
}

/* line 376, ../sass/_social-media.scss */
.flaticon-sm-zip:before {
  content: "\e078";
}
